/* order of these files is important and should not be changed */

@import 'icons/extension-icons.css';
@import 'window-controls/wc-without-tabline.css';
@import 'hide-tabline.css';
@import "userChrome-hover.css";

:root { 
  --dark-0: #02193B;
  --dark-base: #031D44;
  --dark-1: #0A2B5C;
  --dark-2: #10346A;
  --dark-3: #1F4784;
  --dark-4: #28528F;
  --light-0: #EBE8E5;
  --light-base: #CFC9C2;
  --light-1: #C7C0B8;
  --light-2: #BEB6AC;
  --light-3: #B5ACA1;
  --light-4: #ACA195;
  --accent: #63CDCF;
  --yellow: #DAB785;
  --green: #70A288;
  --red: #D67171;
  --extension-icon-mask: grayscale(85%) invert(27%) sepia(13%) saturate(3379%) hue-rotate(178deg) brightness(93%) contrast(96%);
    
  /* expanded width of the sidebar. 
    used for userChrome-static, and hover */
  --sidebar-width: 250px; 
  /* initial width of the sidebar. 
    advised not to change since tst css relies on this value*/
  --sidebar-collapsed-width: 60px;

  --dividers: 2px;
    
  --tl-animation-duration: 200ms;
  /*--tl-tab-background-gradient: */
  /* uncomment and add gradient value for selected tab gradient*/
  
  /******WINDOW CONTROL PLACEMENT VARS******/
  /* larger value moves window controls down,*/
  /* can be negative(moves controls up) */
  /* 55px if tabline visible, -25px if tabline hidden */
  --wc-vertical-shift: 15px;
  --wc-left-space: 10px; /* add space to the left of window controls*/
  --wc-right-space: 15px; /* add space to the right of window controls*/
  /* left-space shifts window-controls */
  /* if you want to shift them to the left: positive value */
  /* and if you want to shift them to the right: smaller or negative value */
  /* right-space shifts rest of the navbar (forward,backward,urlbar,etc.) to the right */
  /* if you want to increase/decrease space between window-controls and navbars: */
  /* set positive/negative value for right-space*/
    
}

:root[privatebrowsingmode="temporary"]{ 
  --dark-0: #1C0E34;
  --dark-base: #20103c;
  --dark-1: #2F1D4E;
  --dark-2: #38225D;
  --dark-3: #4A2D7B;
  --dark-4: #53338A;
  --light-0: #CC6B9C;
  --light-base: #B9407C;
  --light-1: #AB3B73;
  --light-2: #9C3569;
  --light-3: #8D305E;
  --light-4: #7D2B54;
  --accent: #e9207e;
  --yellow: #C9B336;
  --green: #36C987;
  --red: #C9365D;
  --extension-icon-mask: grayscale(85%) invert(13%) sepia(80%) saturate(3107%) hue-rotate(256deg) brightness(84%) contrast(93%); 
}
